[submodule "HackyCracky/flipper/fw/mntm-008"]
	path = HackyCracky/flipper/fw/mntm-008
	url = https://github.com/Next-Flip/Momentum-Firmware
[submodule "HackyCracky/flipper/fw/rm-101"]
	path = HackyCracky/flipper/fw/rm-101
	url = https://github.com/RogueMaster/flipperzero-firmware-wplugins
[submodule "HackyCracky/espressif/esp-idf"]
	path = HackyCracky/espressif/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "esp-idf"]
	path = HackyCracky/espressif/esp-now
	url = https://github.com/espressif/esp-now
[submodule "HackyCracky/boards/arduino-cli"]
	path = HackyCracky/boards/arduino-cli
	url = https://github.com/arduino/arduino-cli
[submodule "HackyCracky/pi/gpio/wiringpi"]
	path = HackyCracky/pi/gpio/wiringpi
	url = https://github.com/wiringpi/wiringpi
[submodule "HackyCracky/pi/gpio/raphael-kit"]
	path = HackyCracky/pi/gpio/raphael-kit
	url = https://github.com/sunfounder/raphael-kit
[submodule "HackyCracky/espressif/esptool"]
	path = HackyCracky/espressif/esptool
	url = https://github.com/espressif/esptool
[submodule "HackyCracky/wifi/hostapd-wpe"]
	path = HackyCracky/wifi/hostapd-wpe
	url = https://github.com/opensecurityresearch/hostapd-wpe
[submodule "HackyCracky/wifi/aircrack-ng"]
	path = HackyCracky/wifi/aircrack-ng
	url = https://github.com/aircrack-ng/aircrack-ng
[submodule "HackyCracky/wifi/mdk4"]
	path = HackyCracky/wifi/mdk4
	url = https://github.com/aircrack-ng/mdk4
[submodule "HackyCracky/wifi/mdk3"]
	path = HackyCracky/wifi/mdk3
	url = https://github.com/aircrack-ng/mdk3
[submodule "HackyCracky/tor-browser"]
	path = HackyCracky/wifi/tor-browser
	url = https://gitlab.torproject.org/tpo/applications/tor-browser
[submodule "HackyCracky/flipper/apps/src/Momentum-Apps"]
	path = HackyCracky/flipper/apps/src/Momentum-Apps
	url = https://github.com/Next-Flip/Momentum-Apps
[submodule "HackyCracky/micropython"]
	path = HackyCracky/micropython
	url = https://github.com/micropython/micropython
