[submodule "HackyCracky/flipper/fw/mntm-008"]
	path = HackyCracky/flipper/fw/mntm-008
	url = https://github.com/Next-Flip/Momentum-Firmware
[submodule "HackyCracky/flipper/fw/rm-101"]
	path = HackyCracky/flipper/fw/rm-101
	url = https://github.com/RogueMaster/flipperzero-firmware-wplugins
[submodule "HackyCracky/espressif/esp-idf"]
	path = HackyCracky/espressif/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "esp-idf"]
	path = HackyCracky/espressif/esp-now
	url = https://github.com/espressif/esp-now
[submodule "HackyCracky/flipper/appsrc/_external/Momentum-Apps"]
	path = HackyCracky/flipper/appsrc/_external/Momentum-Apps
	url = https://github.com/Next-Flip/Momentum-Apps
[submodule "HackyCracky/boards/arduino-cli"]
	path = HackyCracky/boards/arduino-cli
	url = https://github.com/arduino/arduino-cli
[submodule "HackyCracky/pi/gpio/wiringpi"]
	path = HackyCracky/pi/gpio/wiringpi
	url = https://github.com/wiringpi/wiringpi
[submodule "HackyCracky/pi/gpio/raphael-kit"]
	path = HackyCracky/pi/gpio/raphael-kit
	url = https://github.com/sunfounder/raphael-kit
[submodule "HackyCracky/espressif/esptool"]
	path = HackyCracky/espressif/esptool
	url = https://github.com/espressif/esptool
